// app.vue
<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li><router-link to="/">Dashboard</router-link></li>
                    <li><router-link to="/recent/orders/">Recent Orders</router-link></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <transition name="fade">
                    <router-view></router-view>
                </transition>
            </div>
        </div>
    </div>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style>

<script>
    export default{
    }
</script>