<template>
    <div>
        <h1>Orders</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <td></td>
                <td>BillCustCode</td>
                <td>Site/Customer</td>
                <td>Order No</td>
                <td>Buyer</td>
                <td>Actions</td>
            </tr>
            </thead>

            <tbody>
                <tr v-for="(item, index) in items" :key="index">
                    <td>{{ index }}</td>
                    <td>{{ item.BillCustCode }}</td>
                    <td>{{ item.BillCustDesc }}</td>
                    <td>{{ item.OrdNum }}</td>
                    <td>{{ item.BillCustDesc }}</td>
                    <td>
                        <button class="btn btn-sm btn-link" v-on:click="popupOrder(index)">
                            View Purchase Order
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


        <div v-show="show" class="popupBox">
            <button class="btn-close" v-on:click="popupClose()">&times;</button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>BillCustCode</td>
                    <td>Site/Customer</td>
                    <td>Order No</td>
                    <td>Buyer</td>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ order.BillCustCode }}</td>
                        <td>{{ order.BillCustDesc }}</td>
                        <td>{{ order.OrdNum }}</td>
                        <td>{{ order.BillCustDesc }}</td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
</template>



<script>
    export default {
        data(){
            return{
                items: [],
                order: [],
                show: false
            }
        },
        created: function()
        {
            this.fetchItems();
        },
        methods: {
            fetchItems()
            {
                let uri = 'http://localhost:8000/Orders.json';
                let self = this;
                this.axios.get(uri)
                    .then(function (response) {
                        // console.log(response.data.Order);
                        self.items = response.data.Order;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            popupOrder(index)
            {
                let uri = 'http://localhost:8000/Orders.json';
                let self = this;
                this.axios.get(uri)
                    .then(function (response) {
                        // console.log(response.data.Order[index]);
                        self.show = true;
                        self.order = response.data.Order[index];
                        console.log(self.order);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            popupClose()
            {
                let self = this;
                self.show = false;
            }
        }
    }
</script>