
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.popupBox {
    position: absolute;
    width: 70%;
    top: 10%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
}
.btn-close {
    background: #000;
    color: #fff;
    border: none;
    font-size: 28px;
    padding: 5px;
    line-height: 10px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -14px;
    top: -16px;
}